{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <script>

        function changementscene(div) {
            switch (div){
                case('infospersos'):
                    document.getElementById("sondagesrep").style.display = 'none';
                    document.getElementById("infospersos").style.display = 'block';
                    document.getElementById("messondages").style.display = 'none';
                    document.getElementById("messtatistiques").style.display = 'none';
                    break;
                case('messondages'):
                    document.getElementById("sondagesrep").style.display = 'none';
                    document.getElementById("infospersos").style.display = 'none';
                    document.getElementById("messondages").style.display = 'block';
                    document.getElementById("messtatistiques").style.display = 'none';
                    break;
                case('sondagesrep'):
                    document.getElementById("sondagesrep").style.display = 'block';
                    document.getElementById("infospersos").style.display = 'none';
                    document.getElementById("messondages").style.display = 'none';
                    document.getElementById("messtatistiques").style.display = 'none';
                    break;
                case('messtatistiques'):
                    document.getElementById("sondagesrep").style.display = 'none';
                    document.getElementById("infospersos").style.display = 'none';
                    document.getElementById("messondages").style.display = 'none';
                    document.getElementById("messtatistiques").style.display = 'block';
                    break;
            }

        }
        function modifierinfos(information, option){

            if (information === '******'){
                if(option === 'modifier'){
                    document.getElementById("modifierpassword").innerHTML= "<input class=\"form-control\"  name=\"password\" type=\"text\" value=\"" + information + "\"/><button class=\"btn btn-outline-success\" type='submit' >Valider</button><button class=\"btn btn-outline-danger\" onclick=\"modifierinfos('******','reset')\">Annuler</button>"
                }
                else{

                    document.getElementById("modifierpassword").innerHTML= "****** <button class=\"btn btn-outline-secondary\" onclick=\"modifierinfos('******','modifier')\">Modifier</button>"
                }
            }else{
                if(option === 'modifier'){
                    document.getElementById("modifierlogin").innerHTML= "<br><input class=\"form-control\" name=\"login\" type=\"text\" value=\"" + information + "\"/><button class=\"btn btn-outline-success\" type='submit'> Valider </button>  <button class=\"btn btn-outline-danger\" onclick=\"modifierinfos('"+ information +"','reset')\">Annuler</button>"
                }
                else{
                    document.getElementById("modifierlogin").innerHTML=  information +"<button class=\"btn btn-outline-secondary\"  onclick=\"modifierinfos('" + information + "','modifier')\">Modifier</button>"
                }
            }
        }
        // function chargementStat(valeur){
        //     document.getElementById("statistique").innerHTML=
        //
        // }
    </script>
    <br><br>
    <div class="container   ">
        <div class="align-middle" style="margin-top: 1%">
    <h1>Mon Compte</h1>
        <br><button class="btn btn-secondary" onclick="changementscene('infospersos')">Mes informations</button>
        {% if 'ROLE_USER' in app.user.roles %}
            <button class="btn btn-secondary" onclick="changementscene('sondagesrep')">Sondages repondus</button>
        {% endif %}
        {% if 'ROLE_ADMIN' in app.user.roles %}
            <button class="btn btn-secondary" role="link" onclick="changementscene('messondages')">Mes Sondages</button>
            <button class="btn btn-secondary" role="link" onclick="changementscene('messtatistiques')">Statistiques</button>
        {% endif %}

    <div id="infospersos">
        <br>
        <h1>Informations personelles</h1>
            Nom: {{ app.user.nom }} <br>
            Prenom: {{ app.user.prenom }} <br>
            Date de naissance: {{ app.user.datedenaissance ? app.user.datedenaissance|date('Y-m-d') : ''  }} <br>

        Ville : {{ app.user.ville }} <br>
            {% if 'ROLE_USER' in app.user.roles %}
                Profession: Non renseigné <br>
            {% elseif 'ROLE_ADMIN' in app.user.roles %}
                Entreprise: Non renseigné <br>
            {% endif %}
            <form action="./setmoncompte" method="post">
                <input name="iduser" type="hidden" value={{ app.user.id }}>
                    Login: <p id="modifierlogin">{{ app.user.login }}  <button class="btn btn-outline-secondary" onclick="modifierinfos('{{ app.user.login }}', 'modifier')">Modifier</button> </p>
            </form> <br>
            <form action="./setmoncompte" method="post">
                <input name="iduser" type="hidden" value={{ app.user.id }}>
                    Mot de passe: <p id="modifierpassword"> ****** <button class="btn btn-outline-secondary" onclick="modifierinfos('******','modifier')">Modifier</button> </p>
            </form>

    </div>
    <div id ="sondagesrep" style="display: none">
        {%  if app.user.sondages.count() == 0%}
            <br><br>
            Vous n'avez répondu à aucun sondage
        {% endif %}
        {% for sondage in app.user.sondages %}
            <h4>Sondage: {{ sondage.nom }}</h4>
            Créé par : {{ sondage.administrateur.prenom }} {{ sondage.administrateur.nom }}
            Présentation: <br>
            {{ sondage.introduction }}<br><br>
            {% set reponses = [] %}
            {% for reponse in app.user.reponses %}
                {% if reponse.question.sondage == sondage and reponse not in reponses %}


                    <fieldset>
                        <legend>{{ reponse.question.intitule }} </legend>
                        Vous avez répondu: {{ reponse.reponse }} <br>
                        {% set reponses = reponses|merge([reponse]) %}
                        {% for r in app.user.reponses %}
                            {% if r.question == reponse.question and r != reponse %}
                                Vous avez répondu: {{ r.reponse }} <br>
                              {% set reponses = reponses|merge([r]) %}
                            {% endif %}
                        {% endfor %}
                    </fieldset>


                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
    <div id ="messondages" style="display: none">
        {%  if app.user.sondagescree.count() == 0%}
            <br><br>
            Vous n'avez créé encore aucun sondage !
            <a href="{{ path('app_sondage_new') }}">Créer votre tout premier sondage !</a>

        {% else %}
        <br>
        <h1>Vos sondages :</h1>
        <table class="t">

        <table class="block table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Introduction</th>
                <th>Visibilité</th>
                <th>Theme</th>
                <th>Date de céeation</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
        {% for sondage in app.user.sondagescree %}

            <tr>
                <td>{{ sondage.nom }}</td>
                <td>{{ sondage.introduction }}</td>
                <td>{{ sondage.visibilite ? 'Public' : 'Privé' }}</td>
                <td> {{ sondage.theme.theme }}</td>
                <td>{{ sondage.datecreation ? sondage.datecreation|date('Y-m-d') : '' }}</td>
                <td>
                    <a class="btn btn-outline-info" href="{{ path('app_sondage_show', {'id': sondage.id}) }}">Voir</a>
                    <a class="btn btn-outline-secondary"  href="{{ path('app_sondage_edit', {'id': sondage.id}) }}">Modifier</a>
                </td>
            </tr>


        {% endfor %}
            </tbody>
        </table>

    </div>
    <div id="statistique">

    </div>
    {% endif %}
    <div id="messtatistiques" style="display: none">
        <br>
        <h1>Statistiques</h1>
        {%  if app.user.sondagescree.count() == 0%}
            <br><br>
            Vous n'avez créé encore aucun sondage !
            <a href="{{ path('app_sondage_new') }}">Créer votre tout premier sondage !</a>
        {% else %}

{#            <select name="theme" id="type-select" autocomplete="off" onchange="" >#}
{#                <option name="age" value="age">Voir statistique par tranche d'age</option>#}
{#                <option name="ville" value="ville">Voir statistique en fonction de la ville</option>#}
{#                <option name="genre" value="genre">Voir statistique en fonction du genre</option>#}
{#                <option name="profession" value="profession">Voir statistique en fonction de la profession</option>#}
{#                <option name="age" value="age">Voir statistique en fonction de l'age</option>#}
{#                <option name="age" value="age">Voir statistique en fonction de l'age</option>#}

{#            </select>#}

            {% for sondage in app.user.sondagescree %}
                <h4>Statitique du sondage : {{ sondage.nom }}</h4>
                <p id="statitique"></p>
                Créé par : {{ sondage.administrateur.prenom }} {{ sondage.administrateur.nom }}
                Présentation: <br>
                {{ sondage.introduction }}<br><br>
                {% for question in sondage.questions  %}
                <fieldset>
                    <legend>{{question.intitule }} </legend>
                    {% if question.type.type == "multiple" %}
                        {% set nb = 0 %}
                        {% for reponse in question.reponses %}
                            {% set nb = nb + reponse.utilisateurs|length %}
                        {% endfor %}
                    {%  endif %}
                    {% for reponse in question.reponses %}
                        {{ reponse.reponse }}
                        {% if question.type.type == "multiple" %}
                            {% if nb == 0 %}
                                0%<br>
                            {% else %}
                                {{ reponse.utilisateurs|length /  nb *100}}% <br>
                            {% endif %}
                        {%  else %}
                            {% if sondage.utilisateurs|length == 0 %}
                                0%<br>
                            {% else %}
                                {{ reponse.utilisateurs|length /  sondage.utilisateurs|length *100}}% <br>
                            {% endif %}
                        {% endif %}


                    {% endfor %}

                </fieldset>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>
        </div>
        <br>
        <a class="btn btn-outline-dark" href="{{ path('app_sondage_index') }}">Retour</a>

    </div>


{% endblock %}