{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <script>

        function changementscene(div,question) {
            document.getElementById(div).style.display = 'none';
            let i = parseInt(document.getElementById("nbquestion").value)-1;

            document.getElementById(question).innerHTML="<input name=\""+ question +"\" value=\"false\" type=\"hidden\">";
            document.getElementById("cpt").innerHTML= "<input name=\"nbquestion\" id=\"nbquestion\" type=\"hidden\" value =\""+ i +"\">"
        }
        function modifierinfos(information, option){

            if (information === '******'){
                if(option === 'modifier'){
                    document.getElementById("modifierpassword").innerHTML= "<input name=\"password\" type=\"text\" value=\"" + information + "\"/><button type='submit' >Valider</button><button onclick=\"modifierinfos('******','reset')\">Annuler</button>"
                }
                else{

                    document.getElementById("modifierpassword").innerHTML= "****** <button onclick=\"modifierinfos('******','modifier')\">modifier</button>"
                }
            }else{
                if(option === 'modifier'){
                    document.getElementById("modifierlogin").innerHTML= "<input name=\"login\" type=\"text\" value=\"" + information + "\"/><button type='submit'> Valider </button>  <button onclick=\"modifierinfos('"+ information +"','reset')\">Annuler</button>"
                }
                else{
                    document.getElementById("modifierlogin").innerHTML=  information +"<button onclick=\"modifierinfos('" + information + "','modifier')\">modifier</button>"
                }
            }
        }
    </script>
    <div>
        <br><a href="#">    Mes informations</a>
        {% if 'ROLE_USER' in app.user.roles %}
            <a href="#">Sondages repondus</a>
        {% elseif 'ROLE_ADMIN' in app.user.roles %}
            <a href="#">Mes Sondages</a>
        {% endif %}
        <br>
        <h4>Informations personelles</h4>
            Nom: {{ app.user.nom }} <br>
            Prenom: {{ app.user.prenom }} <br>
            Date de naissance: {{ app.user.datedenaissance }} <br>
            Ville : {{ app.user.ville }} <br>
            {% if 'ROLE_USER' in app.user.roles %}
                Profession: Non renseigné <br>
            {% elseif 'ROLE_ADMIN' in app.user.roles %}
                Entreprise: Non renseigné <br>
            {% endif %}
            <form action="./setmoncompte" method="post">
                <input name="iduser" type="hidden" value={{ app.user.id }}>
                    Login: <p id="modifierlogin">{{ app.user.login }}  <button onclick="modifierinfos('{{ app.user.login }}', 'modifier')">modifier</button> </p>
            </form> <br>
            <form action="./setmoncompte" method="post">
                <input name="iduser" type="hidden" value={{ app.user.id }}>
                    Mot de passe: <p id="modifierpassword"> ****** <button onclick="modifierinfos('******','modifier')">modifier</button> </p>
            </form>


    </div>
{% endblock %}