{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="container   ">
    <div class="align-middle" style="margin-top: 5%">
    <h1>S'inscrire</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.nom, {
            label: 'Nom',
            name: 'nom'
        }) }}
        {{ form_row(registrationForm.prenom, {
            label: 'Prenom',
            name: 'prenom'
        }) }}
        {{ form_row(registrationForm.ville, {
            label: 'Ville',
            name: 'ville'
        }) }}
        {{ form_row(registrationForm.datedenaissance, {
            label: 'Date de naissance',
            name: 'datedenaissance'
        }) }}
        {{ form_row(registrationForm.login) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}

        <button  class="btn btn-lg btn-primary" type="submit">S'inscrire</button>

    {{ form_end(registrationForm) }}
    </div>
{% endblock %}