{% extends 'base.html.twig' %}

{% block title %}Nouveau sondage{% endblock %}

{% block body %}
    <script>
        let int = 1;
        let nbquestion = 1;
        let type =""

        function myFunction() {
            if(type === "multiple"){
                document.getElementById(int + "-" + (nbquestion+1)).innerHTML="";

            }

            int ++
            document.getElementById("cpt").innerHTML = "<input name=\"nbquestion\" id=\"nbquestion\" type=\"hidden\" value =" + int +">";
            document.getElementById("demo"+int).innerHTML += "<label> Intitulé: <br> <input type=\"text\" name=\"intitule"+ int+"\"> <br><br> <label> Image: <br> <input type=\"text\" name=\"image"+ int+"\"></label> <br><br> <label for=\"type-select\">Choisissez un type:</label><br> <select name=\"type"+ int+"\" id=\"type-select\" autocomplete='off' onchange=\"choixtypebis(value,"+ int+")\" > <option value=\"\">--Choisissez une option--</option> <option value=\"multiple\">Question à choix multiple</option> <option value=\"unique\">Question à choix unique</option><option value=\"ouverte\">Question ouverte</option> <option value=\"oui_non\">Question oui/non</option></select> <br><br> <label> Choix: <br> <p id=\"typequestion" + int +"\"></p><p id=\"demo" + (int+1) + "\"><br> </label> <br><br>";

            if (int > 1){
                document.getElementById("removequest").innerHTML = "<button type=\"button\" onclick=\"removequestion(" + int + ")\"> - Supprimer une question </button>"
            }

        }
        function choixtypebis(val,id) {
            let choix;
            switch (val){
                case "multiple":
                    type = "multiple"
                    nbquestion =1
                    choix = "Réponse 1 :<input type=\"text\" name=\"reponse"+int+ "-"+nbquestion+"\"><br><p id =\"" + int + "-" + (nbquestion+1) +"\"><button type=\"button\" onclick=\"newreponse("+ int + "," + (nbquestion + 1)+ ")\"> + Ajouter une reponse </button></p><br>"
                    break
                case "unique":
                    type = "unique"
                    nbquestion =1
                    choix = "Réponse 1 :<input type=\"text\" name=\"reponse"+int+ "-"+nbquestion+"\"><br><p id =\"" + int + "-" + (nbquestion+1) +"\"><button type=\"button\" onclick=\"newreponse("+ int + "," + (nbquestion + 1)+ ")\"> + Ajouter une reponse </button></p><br>"
                    break
                case "ouverte":
                    type = "ouverte"
                    choix = "Question ouverte: Aucun affichage disponible"
                    break
                case "oui_non":
                    type = "oui_non"
                    choix = "<label>Il n'y a pas d'affichage pour ce choix. </label>"
                    break
                default:
                    type = ""
                    choix =""
                    break
            }
            let idbis = "typequestion" + id
            document.getElementById(idbis).innerHTML = choix
        }
        function newreponse(nbquest, nbrep){
            nbquestion ++
            console.log(nbquestion)

            document.getElementById(nbquest + "-" + nbrep).innerHTML = "Réponse "+nbquestion+":<input type=\"text\" name=\"reponse"+ int + "-" +nbquestion+"\"><br><p id=\""+ nbquest + "-" + (nbrep+1) + "\"><button type=\"button\" onclick=\"newreponse("+ nbquest +"," + (nbrep+1) +")\"> + Ajouter une reponse </button><button type=\"button\" onclick=\"removereponse("+ nbquest +"," + (nbrep)+")\"> - Supprimer une reponse </button></p>"
        }
        function removereponse(quest,rep){
            nbquestion --
            if (nbquestion === 1){
                document.getElementById(quest + "-" + rep).innerHTML="<button type=\"button\" onclick=\"newreponse("+ quest +"," + (rep) +")\"> + Ajouter une reponse </button>"
            }else{
                document.getElementById(quest + "-" + rep).innerHTML="<button type=\"button\" onclick=\"newreponse("+ quest +"," + (rep) +")\"> + Ajouter une reponse </button><button type=\"button\" onclick=\"removereponse("+ quest +"," + (rep-1)+ ")\"> - Supprimer une reponse </button>"

            }
        }
        function removequestion(id){
            int --
            document.getElementById("cpt").innerHTML = "<input name=\"nbquestion\" id=\"nbquestion\" type=\"hidden\" value =" + int +">";
            document.getElementById("demo"+ id).innerHTML = "<input name=\"nbquestion\" id=\"nbquestion\" type=\"hidden\" value =" + int +">";

            if (int !== 1) {
                document.getElementById("removequest").innerHTML = "<button type=\"button\" onclick=\"removequestion(" + int + ")\"> - Supprimer une question </button>"
            }
            else{
                document.getElementById("removequest").innerHTML = ""
            }
        }
    </script>

    <h1>Create new Sondage</h1>
    <form action="./create" id ="form" method="POST" >
        <p id ="cpt">       <input name="nbquestion" id="nbquestion" type="hidden" value ="1">
        </p>
        <label >Visibilité</label>
        <br>
        <label>public
            <input type="radio" name="visibilite" value="public" checked>
        </label>
        <label>privé
            <input type="radio" name="visibilite" value="prive" required>
        </label>
        <br><br>
        <label> Nom:
            <br>
            <input type="text" autocomplete="off" name="nom" required>
        </label>
        <br>
        <br>
        <label> Présentation:
            <br>
            <textarea style="resize: none;" type="text" autocomplete="off" name="introduction" style="height:140px" required></textarea>
        </label>
        <br>
        <br>

        <label>Choisissez un thème parmis les suivants :</label>
        <select name="theme" id="type-select" autocomplete="off" >
            {% for theme in theme %}
                <option name="{{ theme.theme }}" value="{{ theme.theme }}">{{ theme.theme }}</option>
            {% endfor %}
        </select>
        <br>

        <br>
        {{ include('sondage/createquestion.html.twig') }}
        <br>
        <p id="demo2"></p>
        <p id="removequest"></p>
        <button type="button" onclick="myFunction()" > + Ajouter une question </button><br><br>

        <button type="submit"> Créer </button>
    </form>


    <a href="{{ path('app_sondage_index') }}">back to list</a>
{% endblock %}