{% extends 'base.html.twig' %}
{% block title %}Edit Sondage{% endblock %}

{% block body %}
    <script>
        let nbQ = 0;
        let nbR = 1;
        let T =""

        function ajoutQ() {
            let i = parseInt(document.getElementById("nbquestion").value)+1;
            nbQ++
            if(T === "multiple"){
                document.getElementById(nbQ + "-" + (nbR+1)).innerHTML="";
            }
            document.getElementById("cpt").innerHTML = "<input name=\"nbquestion\" id=\"nbquestion\" type=\"hidden\" value =" + i +">";


            document.getElementById("newq").innerHTML = "<input name=\"newquestion\" id=\"newquestion\" type=\"hidden\" value =" + nbQ +">";

            document.getElementById("demo"+nbQ).innerHTML += "<label> Intitulé: <br> <input type=\"text\" name=\"intitule"+ nbQ+"\"> </label> <br><br> <label> Image: <br> <input type=\"text\" name=\"image"+ nbQ+"\"> <br><br> </label> <label for=\"type-select\">Choisissez un type:</label><br> <select name=\"type"+ nbQ+"\" id=\"type-select\" autocomplete='off' onchange=\"choix(value,"+ nbQ+ ")\" > <option value=\"\">--Choisissez une option--</option> <option value=\"unique\">Question à choix unique</option><option value=\"multiple\">Question à choix multiple</option> <option value=\"ouverte\">Question ouverte</option> <option value=\"oui_non\">Question oui/non</option></select> <br><br> <label> Choix: <br> <p id=\"typequestion" + nbQ +"\"></p><p id=\"demo" + (nbQ+1) + "\"><br> </label> <br><br>";

            if (nbQ >= 1){
                document.getElementById("removequest").innerHTML = "<button type=\"button\" onclick=\"suprquest(" + nbQ + ")\"> - Supprimer une question </button>"
            }

        }
        function choix(val, id) {
            let choix;
            switch (val){
                case "multiple":
                    T = "multiple"
                    nbR =1
                    choix = "Réponse 1 :<input type=\"text\" name=\"reponse"+nbQ+ "-"+nbR+"\"><br><p id =\"" + nbQ + "-" + (nbR+1) +"\"><button type=\"button\" onclick=\"ajoutrep("+ nbQ + "," + (nbR + 1)+ ")\"> + Ajouter une reponse </button></p><br>"
                    break
                case "unique":
                    T = "unique"
                    nbR =1
                    choix = "Réponse 1 :<input type=\"text\" name=\"reponse"+nbQ+ "-"+nbR+"\"><br><p id =\"" + nbQ + "-" + (nbR+1) +"\"><button type=\"button\" onclick=\"ajoutrep("+ nbQ + "," + (nbR + 1)+ ")\"> + Ajouter une reponse </button></p><br>"
                    break
                case "ouverte":
                    T = "ouverte"
                    choix = "Question ouverte: Aucun affichage disponible"
                    break
                case "oui_non":
                    T = "oui_non"
                    choix = "<label>Oui <input type=\"radio\" name=\"visibilite\" value=\"oui\" checked> </label> <label>Non <input type=\"radio\" name=\"visibilite\" value=\"non\"> </label>"
                    break
                default:
                    T = ""
                    choix =""
                    break
            }
            let idbis = "typequestion" + id
            document.getElementById(idbis).innerHTML = choix
        }
        function ajoutrep(nbquest, nbrep){
            nbR ++
            console.log("ajout",nbR)

            document.getElementById(nbquest + "-" + nbrep).innerHTML = "Réponse "+nbR+":<input type=\"text\" name=\"reponse"+ nbQ + "-" +nbR+"\"><br><p id=\""+ nbquest + "-" + (nbrep+1) + "\"><button type=\"button\" onclick=\"ajoutrep("+ nbquest +"," + (nbrep+1) +")\"> + Ajouter une reponse </button><button type=\"button\" onclick=\"supprRep("+ nbquest +"," + (nbrep)+")\"> - Supprimer une reponse </button></p>"
        }
        function supprRep(quest, rep){
            nbR --
            console.log(nbR)
            if (nbR === 1){
                document.getElementById(quest + "-" + rep).innerHTML="<button type=\"button\" onclick=\"ajoutrep("+ quest +"," + (rep) +")\"> + Ajouter une reponse </button>"
            }else{
                document.getElementById(quest + "-" + rep).innerHTML="<button type=\"button\" onclick=\"ajoutrep("+ quest +"," + (rep) +")\"> + Ajouter une reponse </button><button type=\"button\" onclick=\"supprRep("+ quest +"," + (rep-1)+ ")\"> - Supprimer une reponse </button>"

            }
        }
        function suprquest(id){
            nbQ --
            let i = parseInt(document.getElementById("nbquestion").value)-1;

            document.getElementById("cpt").innerHTML = "<input name=\"nbquestion\" id=\"nbquestion\" type=\"hidden\" value =" + i +">";
            document.getElementById("demo"+ id).innerHTML = "<input name=\"nbquestion\" id=\"nbquestion\" type=\"hidden\" value =" + nbQ +">";
            document.getElementById("newq").innerHTML = "<input name=\"newquestion\" id=\"newquestion\" type=\"hidden\" value =" + nbQ +">";


            if (nbQ !== 0) {
                document.getElementById("removequest").innerHTML = "<button type=\"button\" onclick=\"suprquest(" + nbQ + ")\"> - Supprimer une question </button>"
            }
            else{
                document.getElementById("removequest").innerHTML = ""
            }
        }

        function masquer(div,question) {
            document.getElementById(div).style.display = 'none';
            let i = parseInt(document.getElementById("nbquestion").value)-1;

            document.getElementById(question).innerHTML="<input name=\""+ question +"\" value=\"false\" type=\"hidden\">";
            document.getElementById("cpt").innerHTML= "<input name=\"nbquestion\" id=\"nbquestion\" type=\"hidden\" value =\""+ i +"\">"
        }

    </script>

    <div class="container">
        <div class="align-middle" style="margin-top: 3%">

    <h1>Modifier Sondage</h1>

    <form  action="./edited" id ="form" method="POST">
        <p id ="cpt">       <input  name="nbquestion" id="nbquestion" type="hidden" value ="{{ sondage.questions.count() }}"></p>
        <p id ="newq">       <input name="newquestion" id="newquestion" type="hidden" value ="0"></p>

        <label > Nom du sondage : </label><input class="form-control" name="nom" value="{{ sondage.nom }}"><br><br>
        <!-- <label> Createur du sondage :</label><br><br>-->
        <label> Introduction: </label><br><textarea class="form-control" name="introduction" rows="5" cols="33" style="resize:none;" value="{{ sondage.introduction }}">{{ sondage.introduction }}</textarea><br><br>
        <label >Visibilité</label>
        <br>
        {% if sondage.visibilite %}
            <label>public
                <input class="form-check-input" type="radio" name="visibilite" value="public" checked>
            </label>
            <label>privé
                <input class="form-check-input" type="radio" name="visibilite" value="prive" >
            </label>
        {% else %}
            <label>public
                <input class="form-check-input" type="radio" name="visibilite" value="public" >
            </label>
            <label>privé
                <input class="form-check-input" type="radio" name="visibilite" value="prive" checked>
            </label>
        {% endif %}
        <br>
        {% set numquestion = 1 %}
        {% for question in sondage.questions %}
            <div id="question{{ numquestion }}">
                <br>
                <label>Nom:</label> <input  class="form-control" name="question{{ numquestion }}" value="{{ question.intitule }}" ><br>

                <label>Visuel :</label>
                {% if question.visuel %}
                {% if question.visuel.visuel != "" %}
                <input class="form-control" name="image{{ numquestion }}" value="{{ question.visuel.visuel }}" ><br>
                    {% endif %}
                {% else %}
                    <input class="form-control" name="image{{ numquestion }}" value="" ><br>
                    {% endif %}

                    <label>Type de la question : {{ question.type.type }}</label><br>
                {% if question.type.type == "multiple" %}
                    {% set i = 1 %}
                    {% for reponse in question.reponses %}
                        <br>
                        <label>Reponse {{ i }} :</label><input class="form-control" name="reponse{{ numquestion }}{{ i }}" value="{{ reponse.reponse }}"><br>
                        {% set i = i + 1 %}
                    {% endfor %}

                {% endif %}
                {% if question.type.type == "unique" %}
                    {% set i = 1 %}
                    {% for reponse in question.reponses %}
                        <label>Reponse {{ i }} :</label><input  class="form-control" name="reponse{{ numquestion }}{{ i }}" value="{{ reponse.reponse }}"><br>
                        {% set i = i + 1 %}
                    {% endfor %}

                {% endif %}
                <p id="{{ question.id }}">
                    <input  name="{{ question.id }}" value="true" type="hidden"></p>
                <button type="button" class="btn btn-outline-danger" value="Masquer" onclick="masquer('question{{ numquestion }}','{{ question.id }}');" > Supprimer la question </button><br>
            </div>
            {% set numquestion = numquestion + 1 %}
        {% endfor %}

        <p id="demo1"></p>
        <p id="removequest"></p>
        <button class="btn btn-success" type="button" onclick="ajoutQ()" > + Ajouter une question </button><br><br>


        <button class="btn btn-primary" type="submit">Valider modification</button>
    </form>
            <br>
            {{ include('sondage/_delete_form.html.twig') }}
<br>
            <a class="btn btn-outline-dark" href="{{ path('app_sondage_index') }}">Retour</a>
            <br>
        </div>
    </div>
{% endblock %}