{% extends 'base.html.twig' %}

{% block title %}Sondage index{% endblock %}

{% block body %}
    <div class="container  align-items-center " style="margin-top: 5%">
        <h1>Sondage index</h1>

        <div class=-container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Présentation</th>
                <th>Visibilite</th>
                <th>Theme</th>
                <th>Datecreation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>

        <p class="form-control-plaintext" > Filtrer les sondages par leur thème : </p>
        <form action="./themedefine" method="POST">
            <select class="form-select" name="theme" id="type-select" autocomplete="off" >
                <option name="Tous les sondages" value="Tous les sondages">Tous les sondages</option>
                {% for theme in theme %}
                    <option name="{{ theme.id }}" value="{{ theme.id }}">{{ theme.theme }}</option>
                {% endfor %}

            </select>
            <br>
            <input class="btn btn-primary" type="submit" value="Valider">
        </form>

        {% for sondage in sondages %}
            <tr>
                <td>{{ sondage.nom }}</td>
                <td>{{ sondage.introduction }}</td>
                <td>{{ sondage.visibilite ? 'Public' : 'Privé' }}</td>
                <td> {{ sondage.theme.theme }}</td>
                <td>{{ sondage.datecreation ? sondage.datecreation|date('Y-m-d') : '' }}</td>
                <td>
                    <a class="btn btn-outline-info" href="{{ path('app_sondage_show', {'id': sondage.id}) }}">Voir</a>
                    <a class="btn btn-outline-secondary" href="{{ path('app_sondage_edit', {'id': sondage.id}) }}">Modifier</a>
                    {% if app.user %}
                    {% if sondage in app.user.sondages %}
                        <label > Sondage déjà repondu </label>
                    {% else %}
                        <a class="btn btn-outline-success" href="{{ path('app_repondre', {'id': sondage.id}) }}" >Répondre</a>
                    {%  endif %}
                    {%  endif %}


                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            {% if "ROLE_ADMIN" in app.user.roles %}
    <a class="btn btn-success btn-lg btn-block" href="{{ path('app_sondage_new') }}">Creer un nouveau Sondage</a>

            {% endif %}
        </div>
    </div>
{% endblock %}
