{% extends 'base.html.twig' %}

{% block title %}Sondage index{% endblock %}

{% block body %}
    <h1>Sondage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Introduction</th>
                <th>Visibilite</th>
                <th>Theme</th>
                <th>Datecreation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>

        <p> Filtrer les sondages par leur thème : </p>
        <form action="./themedefine" method="POST">
            <select name="theme" id="type-select" autocomplete="off" >
                <option name="Tous les sondages" value="Tous les sondages">Tous les sondages</option>
                {% for theme in theme %}
                    <option name="{{ theme.id }}" value="{{ theme.id }}">{{ theme.theme }}</option>
                {% endfor %}

            </select>
            <input type="submit" value="Valider">
        </form>

        {% for sondage in sondages %}
            <tr>
                <td>{{ sondage.nom }}</td>
                <td>{{ sondage.introduction }}</td>
                <td>{{ sondage.visibilite ? 'Public' : 'Privé' }}</td>
                <td> {{ sondage.theme.theme }}</td>
                <td>{{ sondage.datecreation ? sondage.datecreation|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_sondage_show', {'id': sondage.id}) }}">show</a>
                    <a href="{{ path('app_sondage_edit', {'id': sondage.id}) }}">edit</a>
                    {% if app.user %}
                    {% if sondage in app.user.sondages %}
                        Sondage déjà repondu
                    {% else %}
                        <a href="{{ path('app_repondre', {'id': sondage.id}) }}" >Repondre</a>
                    {%  endif %}
                    {%  endif %}


                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sondage_new') }}">Create new</a>
{% endblock %}
