{% extends 'base.html.twig' %}

{% block title %}Repondre{% endblock %}

{% block body %}
    <div class="container   ">
    <div class="align-middle" style="margin-top: 3%">
    <h1>Repondre</h1>

    <h2>{{ sondage.nom }}</h2>


    <p>Présentation : {{ sondage.introduction }}</p>
    <p>Visibilité : {{ sondage.visibilite  ? "Public" : "Privé" }}</p>
    {% set i = 1 %}
    {% for question in sondage.questions %}

        <h3>Question {{ i }}</h3>
        <p> </p>

        <form action="/sondage/reponsesondage" method="post">
        <input type="hidden" name="idsondage" value="{{ sondage.id }}">
        <input type="hidden" name="iduser" value="{{ app.user.id }}">
        <fieldset>
            <legend>{{ question.intitule }} </legend>
            {% if question.visuel %}
                {% if question.visuel.visuel != "" %}
                    <img class="img-fluid" alt="Responsive image" src="{{ question.visuel.visuel }} "  >
                {%endif %}
            {% endif %}


            {% if question.type.type == 'multiple' %}
                {% for reponse in question.reponses %}
                    <div>
                        <input class="form-check-input" type="checkbox" id="{{ reponse.id }}" name="{{ reponse.id }}" value="{{ reponse.id }}" autocomplete="off">
                        <label for="{{ reponse.id }}">{{ reponse.reponse }}</label>
                    </div>
                {% endfor %}
            {% elseif question.type.type == 'oui_non' %}
                {% for reponse in question.reponses %}
                    <div>
                        <input  class="form-check-input" type="radio" id="{{ reponse.id }}" name="{{ question.id }}" value="{{ reponse.id }}" autocomplete="off">
                        <label for="{{ reponse.id }}">{{ reponse.reponse }}</label>
                    </div>
                {% endfor %}
            {% elseif question.type.type == 'unique' %}
                {% for reponse in question.reponses %}
                    <div>
                        <input class="form-check-input" type="radio" id="{{ reponse.id }}" name="{{ question.id }}" value="{{ reponse.id }}" autocomplete="off">
                        <label for="{{ reponse.id }}">{{ reponse.reponse }}</label>
                    </div>
                {% endfor %}
            {% else %}
                <div>
                    <textarea class="form-control"  name="ouverte{{ i }}" rows="5" cols="33" style="resize:none;" autocomplete="off"></textarea>
                </div>
            {% endif %}


        </fieldset>
        {% set i = i + 1 %}
    {% endfor %}

    <br>
    <br>
    <button class="btn btn-success" type="submit">Repondre au sondage </button>
    </form>
        <br>
        <a class="btn btn-outline-dark" href="{{ path('app_sondage_index') }}">Retour</a>

    </div>
    </div>

{% endblock %}