{% extends 'base.html.twig' %}

{% block title %}Repondre{% endblock %}

{% block body %}

    <h1>Repondre</h1>

    <h2>{{ sondage.nom }}</h2>


    <p>Introduction : {{ sondage.introduction }}</p>
    <p>Visibilité : {{ sondage.visibilite  ? "Public" : "Privé" }}</p>
    {% set i = 1 %}
    {% for question in sondage.questions %}

        <h3>Question {{ i }}</h3>
        <p> </p>

        <form action="/sondage/reponsesondage" method="post">
        <input type="hidden" name="idsondage" value="{{ sondage.id }}">
        <input type="hidden" name="iduser" value="{{ app.user.id }}">
        <fieldset>
            <legend>{{ question.intitule }} </legend>
            {% if question.visuel.visuel != "" %}
                <img src="{{ question.visuel.visuel }} "  style="width:500px;height:300px;">
            {%endif %}

            {% if question.type.type == 'multiple' %}
                {% for reponse in question.reponses %}
                    <div>
                        <input type="checkbox" id="{{ reponse.id }}" name="{{ reponse.id }}" value="{{ reponse.id }}" autocomplete="off">
                        <label for="{{ reponse.id }}">{{ reponse.reponse }}</label>
                    </div>
                {% endfor %}
            {% elseif question.type.type == 'oui_non' %}
                {% for reponse in question.reponses %}
                    <div>
                        <input type="radio" id="{{ reponse.id }}" name="{{ question.id }}" value="{{ reponse.id }}" autocomplete="off">
                        <label for="{{ reponse.id }}">{{ reponse.reponse }}</label>
                    </div>
                {% endfor %}
            {% elseif question.type.type == 'unique' %}
                {% for reponse in question.reponses %}
                    <div>
                        <input type="radio" id="{{ reponse.id }}" name="{{ question.id }}" value="{{ reponse.id }}" autocomplete="off">
                        <label for="{{ reponse.id }}">{{ reponse.reponse }}</label>
                    </div>
                {% endfor %}
            {% else %}
                <div>
                    <textarea name="ouverte{{ i }}" rows="5" cols="33" style="resize:none;" autocomplete="off"></textarea>
                </div>
            {% endif %}


        </fieldset>
        {% set i = i + 1 %}
    {% endfor %}

    <br>
    <br>
    <button type="submit">Repondre au sondage </button>
    </form>
{% endblock %}