{% extends 'base.html.twig' %}

{% block title %}Sondage{% endblock %}

{% block body %}
<div class="container">
    <div class="align-middle" style="margin-top: 10%">
    <h1>Sondage</h1>
        <br>
        <table class="table table-striped">
        <tbody>
            <tr>
                <th>Nom :</th>
                <td>{{ sondage.nom }}</td>
            </tr>
            <tr>
                <th>Présentation :</th>
                <td>{{ sondage.introduction }}</td>
            </tr>
            <tr>
                <th>Visibilité :</th>
                <td>{{ sondage.visibilite ? 'Public' : 'Privé' }}</td>
            </tr>
            <tr>
                <th>Créé par :</th>
                <td>{{ sondage.administrateur.nom }}</td>
            </tr>
            <tr>
                <th>Le :</th>
                <td>{{ sondage.datecreation ? sondage.datecreation|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-dark" href="{{ path('app_sondage_index') }}">Retour</a>

    <a class="btn btn-outline-secondary" href="{{ path('app_sondage_edit', {'id': sondage.id}) }}">Modifier</a>
    </div>
</div>

{% endblock %}
